# Worker application environment

ROOM_AI_WORKER_MODE=monitor
ROOM_AI_API_BASE_URL=http://localhost:17721
ROOM_AI_WORKER_SECRET=local-dev-worker-secret
ROOM_AI_POLL_INTERVAL_MS=15000
ROOM_AI_WEBHOOK_PORT=17727
ROOM_AI_HEALTH_PORT=8788

LIVEKIT_HOST=http://localhost:17722
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
